<form action="/names" method="post">
    <div>
        <label for="player1">Player 1 name:</label>
        <input type="text" name="player_1_name" />
    </div>
    <div>
        <label for="player2">Player 2 name:</label>
        <input type="text" name="player_2_name" />
    </div>
    <input type= "submit" value= "Play" >
</form>
